/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #ff0000 100%), linear-gradient(360deg, #0029ff 0%, #8fff00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%), radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.card {
  margin-top: 40px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 48px 48px 48px;
}
.card .logo {
  text-align: center;
  color: #54b4d3;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  background: -webkit-linear-gradient(60deg, #00f260, #0575e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.card .form {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
.card .form-field {
  width: 70%;
  position: relative;
  margin-bottom: 20px;
}
.card .form-field .form-input {
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 15px;
}
.card .form-field .form-input:focus {
  border-color: #54b4d3;
}
.card .form-field .form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 15px;
}
.card .form-field .form-input:not(:placeholder-shown) + .form-label,
.card .form-field .form-input:focus + .form-label {
  top: 0;
  display: inline-block;
  padding: 6px 10px;
  background-color: #fff;
  left: 26px;
  color: #54b4d3;
}
.card .form-btn {
  width: auto;
}
.card .btn {
  border: none;
  padding: 12px 28px;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  transition: all 0.3s ease;
  font-weight: 500;
}
.card .btn-add {
  background-color: #54b4d3;
}

.tabs {
  margin-left: 40px;
  position: relative;
}
.tabs .tab-item {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  color: rgba(84, 180, 211, 0.6);
  position: relative;
}
.tabs .tab-item:hover {
  color: #54b4d3;
}
.tabs .tab-item.active {
  color: #54b4d3 !important;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: #54b4d3;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.tab-container {
  margin-top: 20px;
}

.tab-content {
  margin-top: 24px;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
}

.list-task li {
  list-style: none;
  border-radius: 4px;
  margin: 0px 0px 8px;
  padding: 12px 24px 12px 40px;
  font-size: 16px;
  background-color: #f4f6f7;
  color: #555;
  cursor: pointer;
  position: relative;
}
.list-task li::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #54b4d3;
  border-radius: 50%;
}
.list-task li::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #54b4d3;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
.list-task li.completed::before {
  opacity: 1;
  visibility: visible;
}
.list-task li.completed {
  text-decoration: line-through;
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
